.news-filter {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: var(--blue-color);
    color: white;
    padding: 0 20px;
}

.news-filter__select {
    margin-left: 5px;
    padding: 4px 5px;
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    border: none;
    outline: none;
}

.news-grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.news-grid__item {
    display: flex;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 8px;
    text-decoration: none;
}

.news-grid__image {
    aspect-ratio: 3 / 2;
}

.news-grid__image img {
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.news-grid__right {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.news-grid__title {
    font-size: 16px;
    font-weight: 500;
    color: var(--black-color);
}

.news-grid__tags {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-grow: 1;
    margin-top: 10px;
}

.news-grid__tag {
    padding: 4px 8px;
    font-size: 14px;
    font-weight: 400;
    color: var(--blue-color);
    border: 1px solid var(--blue-color);
    border-radius: 5px;
}

.news-grid__date {
    margin-left: auto;
    color: var(--light-color);
    font-size: 14px;
}

.news-item {

}

.news-item__image {
    width: 50%;
    display: block;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}

.news-item__content {
    line-height: 1.5;
}

.news-item__content p {
    margin: 20px 0;
}

.news-item__content-image {
    display: block;
    width: 70%;
    margin: 40px auto;
}

.news-item__info {
    margin-top: 80px;
    color: var(--black-color);
    font-size: 15px;
    font-weight: 400;
}

.news-item__date {
    color: var(--light-color);
    text-align: right;
}